BrewBerryPi_v1.3BETA.json
[{"id":"8381b157.40f9d","type":"tab","label":"Boil Kettle Controls","disabled":false,"info":""},{"id":"394f8976.2c3466","type":"tab","label":"Mash Tun Controls","disabled":false,"info":""},{"id":"5be46bfc.5d8344","type":"tab","label":"Temperatures","disabled":false,"info":""},{"id":"fc185927.223c48","type":"ui_group","z":"","name":"Boil Kettle","tab":"a6a7c433.fac178","order":2,"disp":false,"width":"6","collapse":false},{"id":"a6a7c433.fac178","type":"ui_tab","z":"","name":"Jon's Brewery Controller v0.1","icon":"dashboard","order":"","disabled":false,"hidden":false},{"id":"5cccdc75.52e7e4","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"mytheme","default":"#4B7930","baseColor":"#39763e","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"BrewBerryPi Node-Red Dashboard","hideToolbar":"true","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":42,"sy":42,"gx":6,"gy":6,"cx":6,"cy":6,"px":0.5,"py":0.5}}},{"id":"b31d9707.667598","type":"ui_group","z":"","name":"Mash Tun ","tab":"a6a7c433.fac178","order":3,"disp":false,"width":"6","collapse":false},{"id":"de9802e5.7884","type":"mui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"m-base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"m-page-titlebar-backgroundColor":{"value":"#097479","edited":false},"m-page-backgroundColor":{"value":"#111111","edited":false},"m-page-sidebar-backgroundColor":{"value":"#000000","edited":false},"m-group-textColor":{"value":"#0eb8c0","edited":false},"m-group-borderColor":{"value":"#555555","edited":false},"m-group-backgroundColor":{"value":"#333333","edited":false},"m-widget-textColor":{"value":"#eeeeee","edited":false},"m-widget-backgroundColor":{"value":"#097479","edited":false},"m-widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"31353a82.c07276","type":"ui_group","z":"","name":"Status ","tab":"a6a7c433.fac178","order":1,"disp":false,"width":"12","collapse":false},{"id":"c4a47103.f1b6e","type":"ui_spacer","name":"spacer","group":"31353a82.c07276","order":5,"width":1,"height":1},{"id":"6588d09.949e23","type":"ui_spacer","name":"spacer","group":"31353a82.c07276","order":7,"width":1,"height":1},{"id":"4e650719.e4cfc8","type":"ui_spacer","name":"spacer","group":"31353a82.c07276","order":9,"width":1,"height":1},{"id":"302e68f0.f75f68","type":"ui_spacer","name":"spacer","group":"fc185927.223c48","order":3,"width":6,"height":1},{"id":"c7797172.9cc9f","type":"ui_spacer","name":"spacer","group":"b31d9707.667598","order":3,"width":6,"height":1},{"id":"c0e651b2.4d9ba","type":"ui_switch","z":"8381b157.40f9d","name":"","label":"Kettle Heat","tooltip":"","group":"fc185927.223c48","order":1,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-fire","oncolor":"red","offvalue":"false","offvalueType":"bool","officon":"fa-power-off","offcolor":"gray","x":90,"y":40,"wires":[["3cf323f6.8c865c"]]},{"id":"55068674.63bb98","type":"ui_slider","z":"8381b157.40f9d","name":"","label":"","tooltip":"","group":"fc185927.223c48","order":4,"width":6,"height":1,"passthru":true,"outs":"end","topic":"","min":0,"max":"99","step":"1","x":70,"y":160,"wires":[["3e9302fa.3c125e"]]},{"id":"ba16dac9.dc8288","type":"ui_gauge","z":"5be46bfc.5d8344","name":"","group":"31353a82.c07276","order":1,"width":"4","height":"3","gtype":"donut","title":"Boil Kettle","label":"","format":"{{value}} C ","min":"10","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"42","seg2":"72","x":720,"y":60,"wires":[]},{"id":"4638fdc9.788d24","type":"inject","z":"5be46bfc.5d8344","name":"","topic":"","payload":"","payloadType":"date","repeat":"6","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":120,"wires":[["4c7190f6.0273b","caa7e14f.14f3b","f6dcc2f2.78676"]]},{"id":"4c7190f6.0273b","type":"random","z":"5be46bfc.5d8344","name":"dummy kettle temp","low":"96","high":"102","inte":"true","property":"payload","x":330,"y":100,"wires":[[]]},{"id":"13ea4bde.5f4334","type":"ui_gauge","z":"5be46bfc.5d8344","name":"","group":"31353a82.c07276","order":2,"width":4,"height":3,"gtype":"donut","title":"Mash Tun","label":"","format":"{{value}} C","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"70","x":740,"y":200,"wires":[]},{"id":"caa7e14f.14f3b","type":"random","z":"5be46bfc.5d8344","name":"dummy mash temp","low":"50","high":"70","inte":"true","property":"payload","x":370,"y":240,"wires":[[]]},{"id":"2d73ddec.16f032","type":"ui_numeric","z":"8381b157.40f9d","name":"","label":"Set Kettle Target","tooltip":"","group":"fc185927.223c48","order":5,"width":6,"height":1,"wrap":false,"passthru":true,"topic":"target","format":"{{value}} &degC","min":"60","max":"101","step":"1","x":110,"y":100,"wires":[["b183d6cc.4e89f8"]],"icon":"font-awesome/fa-thermometer-1"},{"id":"755c776e.b480e8","type":"change","z":"5be46bfc.5d8344","name":"","rules":[{"t":"set","p":"ktemp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":60,"wires":[["ba16dac9.dc8288"]]},{"id":"774c6c98.a78194","type":"delay","z":"8381b157.40f9d","name":"Off delay","pauseType":"delayv","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":480,"wires":[[]]},{"id":"cb94940e.cf1998","type":"function","z":"8381b157.40f9d","name":"set off delay","func":"var kofftime = msg.delay;\nkofftime = Math.abs(kofftime - 4850);\nmsg.delay = kofftime;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":420,"wires":[["674272f2.f274dc"]]},{"id":"14563ed7.adfa21","type":"ui_gauge","z":"5be46bfc.5d8344","name":"","group":"31353a82.c07276","order":3,"width":4,"height":3,"gtype":"donut","title":"Aux Temp","label":"","format":"{{value}} C","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"70","x":740,"y":340,"wires":[]},{"id":"f6dcc2f2.78676","type":"random","z":"5be46bfc.5d8344","name":"dummy aux temp","low":"16","high":"100","inte":"true","property":"payload","x":370,"y":380,"wires":[[]]},{"id":"28732068.d3915","type":"ui_switch","z":"394f8976.2c3466","name":"","label":"Mash Heat Sw","tooltip":"","group":"b31d9707.667598","order":1,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-fire","oncolor":"red","offvalue":"false","offvalueType":"bool","officon":"fa-power-off","offcolor":"gray","x":120,"y":60,"wires":[["c429fd61.0bd01"]]},{"id":"e73c917f.5eb8c","type":"ui_slider","z":"394f8976.2c3466","name":"","label":"","tooltip":"","group":"b31d9707.667598","order":4,"width":6,"height":1,"passthru":true,"outs":"end","topic":"kpower","min":0,"max":"99","step":"1","x":90,"y":160,"wires":[["95de428f.b657b"]]},{"id":"28b5d9c.868ad26","type":"ui_numeric","z":"394f8976.2c3466","name":"","label":"Mash Set Target","tooltip":"","group":"b31d9707.667598","order":5,"width":6,"height":1,"wrap":false,"passthru":true,"topic":"target","format":"{{60}} &degC","min":"40","max":"80","step":"1","x":120,"y":220,"wires":[["7a57d852.f0aba8"]],"icon":"font-awesome/fa-thermometer-1"},{"id":"28ce703a.f479e","type":"ui_switch","z":"394f8976.2c3466","name":"","label":"Mash Pump Switch","tooltip":"","group":"b31d9707.667598","order":2,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-fire","oncolor":"red","offvalue":"false","offvalueType":"bool","officon":"fa-power-off","offcolor":"gray","x":750,"y":60,"wires":[["3c203d30.435332"]]},{"id":"f9205c45.5f7dd","type":"ui_switch","z":"8381b157.40f9d","name":"","label":"Transfer Pump","tooltip":"","group":"fc185927.223c48","order":2,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-fire","oncolor":"red","offvalue":"false","offvalueType":"bool","officon":"fa-power-off","offcolor":"gray","x":100,"y":220,"wires":[["3ea260ab.29696","9cb823db.b3eea"]]},{"id":"95de428f.b657b","type":"range","z":"394f8976.2c3466","minin":"0","maxin":"99","minout":"0","maxout":"4950","action":"clamp","round":true,"property":"payload","name":"","x":260,"y":160,"wires":[["8191128e.e3e88"]]},{"id":"3e9302fa.3c125e","type":"range","z":"8381b157.40f9d","minin":"0","maxin":"99","minout":"0","maxout":"4950","action":"clamp","round":true,"property":"payload","name":"","x":220,"y":160,"wires":[["632007fa.e93a28"]]},{"id":"d79dc799.dd0338","type":"delay","z":"8381b157.40f9d","name":"On Delay","pauseType":"delayv","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":200,"y":420,"wires":[["cb94940e.cf1998"]]},{"id":"2d1dff88.f97eb","type":"change","z":"8381b157.40f9d","name":"","rules":[{"t":"set","p":"delay","pt":"msg","to":"klevel","tot":"flow"},{"t":"set","p":"kison","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":360,"wires":[["d79dc799.dd0338","47af5a4d.da2d54"]]},{"id":"674272f2.f274dc","type":"change","z":"8381b157.40f9d","name":"","rules":[{"t":"set","p":"kison","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":420,"wires":[["2d0b2cc5.f69724","774c6c98.a78194","64d9d2c8.3f87dc"]]},{"id":"3ea260ab.29696","type":"rpi-gpio out","z":"8381b157.40f9d","name":"","pin":"16","set":true,"level":"0","freq":"","out":"out","x":760,"y":240,"wires":[]},{"id":"2d0b2cc5.f69724","type":"rpi-gpio out","z":"8381b157.40f9d","name":"","pin":"12","set":true,"level":"0","freq":"","out":"out","x":900,"y":420,"wires":[]},{"id":"632007fa.e93a28","type":"change","z":"8381b157.40f9d","name":"","rules":[{"t":"set","p":"klevel","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":160,"wires":[[]]},{"id":"3cf323f6.8c865c","type":"change","z":"8381b157.40f9d","name":"","rules":[{"t":"set","p":"kswitchon","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":40,"wires":[[]]},{"id":"47af5a4d.da2d54","type":"switch","z":"8381b157.40f9d","name":"is turned on?","property":"kswitchon","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":360,"wires":[["c89f6cac.ed52b"],[]]},{"id":"efcdcf1c.ae48b","type":"inject","z":"8381b157.40f9d","name":"check every 5 sec","topic":"","payload":"true","payloadType":"bool","repeat":"5","crontab":"","once":false,"onceDelay":"1","x":130,"y":300,"wires":[["2d1dff88.f97eb"]]},{"id":"414f0c18.eb7204","type":"delay","z":"394f8976.2c3466","name":"Off delay","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":520,"wires":[[]]},{"id":"7a8135c2.d64aac","type":"function","z":"394f8976.2c3466","name":"set off delay","func":"var mofftime = msg.delay;\nmofftime = Math.abs(mofftime - 4949);\nmsg.delay = mofftime;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":420,"wires":[["42237025.3aa33"]]},{"id":"b094cf17.05419","type":"delay","z":"394f8976.2c3466","name":"On Delay","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":220,"y":420,"wires":[["7a8135c2.d64aac"]]},{"id":"e089f455.584d48","type":"change","z":"394f8976.2c3466","name":"","rules":[{"t":"set","p":"delay","pt":"msg","to":"mlevel","tot":"flow"},{"t":"set","p":"mison","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":360,"wires":[["b094cf17.05419","d5427eef.fc153"]]},{"id":"42237025.3aa33","type":"change","z":"394f8976.2c3466","name":"","rules":[{"t":"set","p":"mison","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":420,"wires":[["414f0c18.eb7204","3c2d73fb.3cf52c","1584e55c.3ebedb"]]},{"id":"d5427eef.fc153","type":"switch","z":"394f8976.2c3466","name":"is turned on?","property":"mswitchon","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":360,"wires":[["632b3de8.f9bd64"],[]]},{"id":"5050118f.12597","type":"inject","z":"394f8976.2c3466","name":"repeating timer loop","topic":"","payload":"true","payloadType":"bool","repeat":"5","crontab":"","once":false,"onceDelay":"1","x":160,"y":300,"wires":[["e089f455.584d48"]]},{"id":"3c2d73fb.3cf52c","type":"rpi-gpio out","z":"394f8976.2c3466","name":"","pin":"11","set":true,"level":"0","freq":"","out":"out","x":900,"y":420,"wires":[]},{"id":"3c203d30.435332","type":"rpi-gpio out","z":"394f8976.2c3466","name":"","pin":"18","set":true,"level":"0","freq":"","out":"out","x":920,"y":60,"wires":[]},{"id":"8191128e.e3e88","type":"change","z":"394f8976.2c3466","name":"","rules":[{"t":"set","p":"mlevel","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":160,"wires":[[]]},{"id":"c429fd61.0bd01","type":"change","z":"394f8976.2c3466","name":"","rules":[{"t":"set","p":"mswitchon","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":60,"wires":[["9bef5e21.b2028"]]},{"id":"73fad3cf.212e5c","type":"change","z":"5be46bfc.5d8344","name":"","rules":[{"t":"set","p":"mtemp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":200,"wires":[["13ea4bde.5f4334"]]},{"id":"e34be103.c88e4","type":"change","z":"5be46bfc.5d8344","name":"","rules":[{"t":"set","p":"auxtemp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":340,"wires":[["14563ed7.adfa21"]]},{"id":"b183d6cc.4e89f8","type":"change","z":"8381b157.40f9d","name":"","rules":[{"t":"set","p":"ktarget","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":100,"wires":[[]]},{"id":"7a57d852.f0aba8","type":"change","z":"394f8976.2c3466","name":"","rules":[{"t":"set","p":"mtarget","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":220,"wires":[[]]},{"id":"632b3de8.f9bd64","type":"switch","z":"394f8976.2c3466","name":"below target?","property":"mtarget","propertyType":"flow","rules":[{"t":"gt","v":"mtemp","vt":"global"},{"t":"lte","v":"mtemp","vt":"global"}],"checkall":"true","repair":false,"outputs":2,"x":580,"y":360,"wires":[["3c2d73fb.3cf52c","1584e55c.3ebedb"],[]]},{"id":"c89f6cac.ed52b","type":"switch","z":"8381b157.40f9d","name":"below target?","property":"ktarget","propertyType":"flow","rules":[{"t":"gt","v":"ktemp","vt":"global"},{"t":"lte","v":"ktemp","vt":"global"}],"checkall":"true","repair":false,"outputs":2,"x":580,"y":360,"wires":[["2d0b2cc5.f69724","64d9d2c8.3f87dc"],[]]},{"id":"66513f6f.c72b5","type":"sensor-ds18b20","z":"5be46bfc.5d8344","name":"ff10","topic":"","sensorid":"28-000003aeff10","timer":"2","repeat":true,"x":110,"y":60,"wires":[["755c776e.b480e8"]]},{"id":"6824e351.5b538c","type":"sensor-ds18b20","z":"5be46bfc.5d8344","name":"e032","topic":"","sensorid":"28-000003aee032","timer":"2","repeat":true,"x":70,"y":220,"wires":[["73fad3cf.212e5c"]]},{"id":"a3aeb279.85512","type":"sensor-ds18b20","z":"5be46bfc.5d8344","name":"0421","topic":"","sensorid":"28-000003af0421","timer":"2","repeat":true,"x":70,"y":380,"wires":[["e34be103.c88e4"]]},{"id":"9bef5e21.b2028","type":"switch","z":"394f8976.2c3466","name":"pump on with heat","property":"mswitchon","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":60,"wires":[["28ce703a.f479e"],[]]},{"id":"1584e55c.3ebedb","type":"ui_led","z":"394f8976.2c3466","group":"31353a82.c07276","order":9,"width":0,"height":0,"label":"Mash out","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":900,"y":320,"wires":[]},{"id":"9cb823db.b3eea","type":"ui_led","z":"8381b157.40f9d","group":"31353a82.c07276","order":8,"width":0,"height":0,"label":"aux out","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":760,"y":160,"wires":[]},{"id":"64d9d2c8.3f87dc","type":"ui_led","z":"8381b157.40f9d","group":"31353a82.c07276","order":8,"width":0,"height":0,"label":"boil out","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":880,"y":320,"wires":[]}]